body {
    background-color: white;
    height: 100%;
}

header {
    padding-bottom: 30px;
}

header .header-buttons {
    float: right;
    padding-top: 5px;
    margin-right: 20px;
}

header .header-buttons a {
    padding-left: 20px;
}

.new-text {
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    position: relative;
}

.new-text textarea {
    padding-bottom: 55%;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
    outline: none;
    overflow: hidden;
    resize: none;
    border-style: solid;
    border-width: 3px;
    border-top-left-radius: 2em;
    border-bottom-right-radius: 2em;
    border-top-right-radius: 0.3em;
    border-bottom-left-radius: 0.3em;
    border-color: #e7a4b6;
    font-size: 1.3em;
    font-family: CustomSerif, Georgia, Cambria,'Times New Roman', serif;
}

.new-text input {
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
    outline: none;
    overflow: hidden;
    resize: none;
    border-style: none;
    text-decoration: underline;
    text-decoration-color: #e7a4b6;
    text-underline-offset: 4px;
    font-size: 1.3em;
    font-family: CustomSerif, Georgia, Cambria,'Times New Roman', serif;
}

.menu-buttons {
    margin-left: 10%;
    margin-top: 9px;
    float: left;
}

button {
    border-color: black;
    border-style: solid;
    border-radius: 2em;
    background-color: #f5cfd9;
    cursor: pointer;
    width: 115px;
    height: 40px;
    display: block;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 2%;
    margin-bottom: 25px;
    font-size: 1.3em;
    letter-spacing: 0.1em;
    font-family: CustomSerif, Georgia, Cambria,'Times New Roman', serif;
}

::selection {
    background-color: #fcd8e2;
}
