body {
    background-color: white;
    height: 100%;
}

.header {
    margin-top: 20px;
}

#nav-menu {
    height: 100%;
    width: 0px;
    background-color: rgb(199, 174, 188);
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

#nav-menu a {
    padding: 8px 8px 8px 20px;
    display: block;
    text-decoration: none;
    font-size: 1.2em;
    color: black;
    transition: 0.3s;
    white-space: nowrap;
}

#nav-menu a:hover {
    color: #946d8d;
}

#nav-menu i {
    font-style: normal;
}

#nav-menu #close-nav-btn {
    position: absolute;
    top: 0;
    margin-left: 70px;
    font-size: 2em;
}

.navigation-buttons {
    padding: 0px 18px 0px 18px;
    font-size: 1.5em;
}

.navigation-buttons i {
    font-style: normal;
    margin-right: 18px;
    cursor: pointer;
}

.navigation-buttons a {
    color: black;
    text-decoration: underline;
    text-decoration-color: rgb(141, 98, 161);
    text-underline-offset: 4px;
    font-weight: normal;
}

.account-buttons {
    float: right;
    margin-right: 60px;
    margin-top: 5px;
}

.account-buttons a {
    height: 50px;
    text-decoration: none;
    letter-spacing: 0.4px;
    color: inherit;
    font-size: 1.3em;
    border-style: solid;
    border-width: 2px;
    border-radius: 1em;
    margin-left: 15px;
    padding: 6px 18px 6px 18px;
    font-family: CustomSerif, Georgia, Cambria,'Times New Roman', serif;
}

.account-buttons .auth-btn, .logout-btn {
    background-color: #e2e6f1;
}

.account-buttons .reg-btn, .account-btn {
    background-color: #eee0ec;
}

.new-text {
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

.new-text textarea {
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
    height: 200px;
    resize: none;
    outline: none;
    overflow: hidden;
    border-style: solid;
    border-width: 3px;
    border-top-left-radius: 2em;
    border-bottom-right-radius: 2em;
    border-top-right-radius: 0.3em;
    border-bottom-left-radius: 0.3em;
    border-color: #e7a4b6;
    font-size: 1.3em;
    font-family: CustomSerif, Georgia, Cambria,'Times New Roman', serif;
}

#new-post-form {
    margin-top: 120px;
}

.new-text input {
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    width: 100%;
    outline: none;
    overflow: hidden;
    resize: none;
    border-style: none;
    text-decoration: underline;
    text-decoration-color: #e7a4b6;
    text-underline-offset: 4px;
    font-size: 1.3em;
    font-family: CustomSerif, Georgia, Cambria,'Times New Roman', serif;
}

.new-text input h2 {
    display: block;
}

.menu-buttons {
    width: 120px;
    float: left;
    margin-left: 10px;
    margin-bottom: 200px;
    margin-top: 150px;
}

button {
    border-color: black;
    border-style: solid;
    border-radius: 2em;
    background-color: #f5cfd9;
    cursor: pointer;
    width: 115px;
    height: 40px;
    display: block;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 2%;
    margin-bottom: 25px;
    font-size: 1.3em;
    letter-spacing: 0.1em;
    font-family: CustomSerif, Georgia, Cambria,'Times New Roman', serif;
}

.user-content .description {
    margin-top: 10px;
    text-align: center;
    color: #656066;
    font-size: 1em;
}

.user-content .content {
    display: block;
    margin-top: 80px;
    text-align: center;

    font-size: 1.5em;
}

.user-content .publications {
    height: 300px;
    margin-top: 100px;
}

.user-content .publications .post {
    margin-bottom: 70px;
}

.user-content .publications .post a {
    display: block;
    margin-left: 140px;
    margin-bottom: 5px;
    text-decoration: none;
    font-size: 1.3em;
    color: black;
}

.user-content .publications .post .post-body {
    height: 180px;
    word-wrap: break-word;
    overflow: hidden;
    white-space: pre-wrap;
    margin-left: 120px;
    margin-right: 120px;
    padding: 20px;
    border-style: solid;
    border-width: 3px;
    border-top-left-radius: 2em;
    border-bottom-right-radius: 2em;
    border-top-right-radius: 0.3em;
    border-bottom-left-radius: 0.3em;
    border-color: #e7a4b6;
}

::selection {
    background-color: #fcd8e2;
}

@media screen and (min-width: 1200px) {
    .menu-buttons {
        margin-left: 110px;
    }
}

@media screen and (min-width: 1500px) {
    .menu-buttons {
        margin-left: 150px;
    }
}

@media screen and (max-width: 1000px) {
    .menu-buttons {
        margin-top: 30%;
        margin-bottom: 5%;
        margin-right: auto;
        margin-left: auto;
        width: 60%;
        float: none;
    }

    .menu-buttons button {
        width: 100%;
        height: 100%;
        font-size: 1.6em;
        text-align: center;
    }

    .new-text {
        width: 100%;
        margin-right: auto;
        margin-left: auto;
        font-size: 1em;
    }

    .new-text input {
        width: 90%;
    }

    .new-text textarea {
        width: 100%;
        box-sizing: border-box;
    }

    #new-post-form {
        margin-top: 10%;
    }
}
