{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/main.css">
    <link rel="stylesheet" href="/static/account.css">
    <link rel="stylesheet" href="/static/fontawesome/css/font-awesome.min.css">
    <link rel="shortcut icon" type="image/png" href="{% static "favicon.ico" %}">
    <title>AtriTell</title>
</head>
<body>
    <div class="header">
        <div class="account-buttons">
            {% if user.is_authenticated %}
                <a href="/logout" class="logout-btn">Log out</a>
                <a href="/account" class="account-btn">{{ user }}</a>
            {% else %}
                <a href="/register" class="reg-btn">Register</a>
                <a href="/auth" class="auth-btn">Sign in</a>
            {% endif %}
        </div>

        <div class="navigation-buttons">
            <i id="open-nav-btn">☰</i>
            <a href="/">AtriTell</a>
        </div>
    </div>

    <div id="nav-menu">
        <a href="#" id="close-nav-btn">&times;</a>
        <a href="/">My posts</a>
        <a href="/post">Create post</a></i>
    </div>

    <div id="integrations">
        <p>Integrations</p>
        <ul>
            <li><i class="fa fa-telegram" aria-hidden="true"></i>Telegram
                <a class="integration-toggle" href="/integrations/tg">Activate</a>
            </li>
            <li><i class="fa fa-comments" aria-hidden="true"></i>Matrix
                <a class="integration-toggle" href="#">Activate</a>
            </li>
        </ul>
    </div>

     <script>
        const openNavButton = document.querySelector('#open-nav-btn');
        const closeNavButton = document.querySelector('#close-nav-btn');

        function openNavMenu() {
            document.getElementById("nav-menu").style.width = "130px";
        }

        function closeNavMenu() {
            document.getElementById("nav-menu").style.width = "0px";
        }

        openNavButton.addEventListener('click', event => {
            openNavMenu();
        });

        closeNavButton.addEventListener('click', event => {
            closeNavMenu();
        });
    </script>
</body>
</html>