<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="static/main.css">
    <link rel="stylesheet" href="static/fontawesome/css/font-awesome.min.css">
    <title>AtriTell</title>
</head>
<body>
    <div class="new-text">
        <form action="AtriTell/article" method="POST" id="new-article-form">
            <h2><input type="text" value="Title" maxlength="50" class="title"></h2>
            <textarea name="text" maxlength="7500">My new article</textarea>
        </form>
        <p>
            <button form="new-article-form" type="submit">Save</button>
            <button form="new-article-form" type="submit" name="share">
                <i class="fa fa-share-alt" aria-hidden="true"></i>
                Share
            </button>
        </p>
    </div>
</body>
</html>