{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/main.css">
    <link rel="stylesheet" href="/static/fontawesome/css/font-awesome.min.css">
    <link rel="shortcut icon" type="image/png" href="{% static "favicon.ico" %}">
    <title>AtriTell</title>
</head>
<body>
    <header class="header-menu">
        <h2>AtriTell</h2>
    </header>
</body>
</html>