{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/main.css">
    <link rel="stylesheet" href="/static/fontawesome/css/font-awesome.min.css">
    <link rel="shortcut icon" type="image/png" href="{% static "favicon.ico" %}">
    <title>AtriTell</title>
</head>
<body>
    <div class="header">
        <div class="account-buttons">
            {% if user.is_authenticated %}
                <a href="/logout" class="logout-btn">Log out</a>
                <a href="/account" class="account-btn">{{ user }}</a>
            {% else %}
                <a href="/register" class="reg-btn">Register</a>
                <a href="/auth" class="auth-btn">Sign in</a>
            {% endif %}
        </div>

        <div class="logo-btn">
            <a href="/">AtriTell</a>
        </div>
    </div>
</body>
</html>