{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/main.css">
    <link rel="stylesheet" href="/static/fontawesome/css/font-awesome.min.css">
    <link rel="shortcut icon" type="image/png" href="{% static "favicon.ico" %}">
    <title>AtriTell</title>
</head>
<body>
    <div class="header">
        <div class="account-buttons">
            {% if user.is_authenticated %}
                <a href="/logout" class="logout-btn">Log out</a>
                <a href="/account" class="account-btn">{{ user }}</a>
            {% else %}
                <a href="/register" class="reg-btn">Register</a>
                <a href="/auth" class="auth-btn">Sign in</a>
            {% endif %}
        </div>

        <div class="navigation-buttons">
            <i class="fas fa-bars" id="open-nav-btn"></i>
            <a href="/">AtriTell</a>
        </div>
    </div>

    <div id="nav-menu">
        <a href="#" id="close-nav-btn">&times;</a>
        <a href="#">Home</a>
        <a href="#">Explore</a>
        <a href="#">My notes</a>
    </div>
    
    <script>
        const openNavButton = document.querySelector('#open-nav-btn');
        const closeNavButton = document.querySelector('#close-nav-btn');

        function openNavMenu() {
            document.getElementById("nav-menu").style.width = "120px";
        }

        function closeNavMenu() {
            document.getElementById("nav-menu").style.width = "0px";
        }

        openNavButton.addEventListener('click', event => {
            openNavMenu();
        });

        closeNavButton.addEventListener('click', event => {
            closeNavMenu();
        });
    </script>
</body>
</html>