{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/main.css">
    <link rel="stylesheet" href="/static/fontawesome/css/font-awesome.min.css">
    <link rel="shortcut icon" type="image/png" href="{% static "favicon.ico" %}">
    <title>AtriTell</title>
</head>
<body>
    <div class="menu-buttons">
        <button form="new-note-form" type="submit">Save</button>
        <button form="new-note-form" type="submit" name="share">
            <i class="fa fa-share-alt" aria-hidden="true"></i>
            Share
        </button>
    </div>
    
    <div class="new-text">
        <form action="/" method="POST" id="new-note-form">{% csrf_token %}
            <h2><input name="title" type="text" value="{{ title }}" maxlength="50" class="title"></h2>
            <textarea name="text" maxlength="7500">{{ body }}</textarea>
        </form>
    </div>
</body>
</html>