{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <link rel="stylesheet" href="/static/main.css">
    <link rel="stylesheet" href="/static/fontawesome/css/font-awesome.min.css">
    <link rel="shortcut icon" type="image/png" href="{% static "favicon.ico" %}">
    <title>AtriTell</title>
</head>
<body>
    <div class="header">
        <div class="account-buttons">
            {% if user.is_authenticated %}
                <a href="/logout" class="logout-btn">Log out</a>
                <a href="/account" class="account-btn">{{ user }}</a>
            {% else %}
                <a href="/register" class="reg-btn">Register</a>
                <a href="/auth" class="auth-btn">Sign in</a>
            {% endif %}
        </div>

        <div class="navigation-buttons">
            <i id="open-nav-btn">☰</i>
            <a href="/">AtriTell</a>
        </div>
    </div>

    <div id="nav-menu">
        <a href="#" id="close-nav-btn">&times;</a>
        <a href="/">My posts</a>
        <a href="/post">Create post</a></i>
    </div>

    <div class="menu-buttons">
        <button form="new-post-form" type="submit">Save</button>
        <button form="new-post-form" type="submit" name="share">
            <i class="fa fa-share-alt" aria-hidden="true"></i>
            Share
        </button>
    </div>
    
    <script>
        const openNavButton = document.querySelector('#open-nav-btn');
        const closeNavButton = document.querySelector('#close-nav-btn');

        function openNavMenu() {
            document.getElementById("nav-menu").style.width = "130px";
        }

        function closeNavMenu() {
            document.getElementById("nav-menu").style.width = "0px";
        }

        openNavButton.addEventListener('click', event => {
            openNavMenu();
        });

        closeNavButton.addEventListener('click', event => {
            closeNavMenu();
        });
    </script>

    <div class="new-text">
        <form action="" method="POST" id="new-post-form">{% csrf_token %}
            <h2><input name="title" type="text" value="{{ title }}" maxlength="50" class="title"></h2>
            <textarea name="text">{{ body }}</textarea>
        </form>

        <script>
            const textarea = document.querySelector("textarea");

            function updateTextareaHeight(textarea) {
                let scHeight = textarea.scrollHeight;
                textarea.style.height = `${scHeight}px`;
            }

            updateTextareaHeight(textarea);

            textarea.addEventListener("keyup", e => {
                if (e.key == 'Enter') {
                    updateTextareaHeight(textarea);
                }
            });
        </script>

    </div>

</body>
</html>