{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/account.css">
    <link rel="stylesheet" href="/static/fontawesome/css/font-awesome.min.css">
    <link rel="shortcut icon" type="image/png" href="{% static "favicon.ico" %}">
    <title>AtriTell</title>
</head>
<body>
    <div class="signin">
        <form action="/auth" method="POST">
            <input name="username" type="text" maxlength="50" class="user-data">
            <input name="pass" type="password" maxlength="50" class="user-data">
            <input type="submit" value="Sign in" class="signin-btn" >
        </form>
    </div>
</body>
</html>